@import url('https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&family=Noto+Sans&display=swap');


/*Root styles*/
:root {
    --primary-color: #ADC178;
    --secondary-color: #A98467;
    --accent1-color: #6C584C;
    --accent2-color: #DDE5B6;

    --heading-font: 'Macondo Swash Caps', cursive, Verdana, Geneva, Tahoma;
    --paragraph-font: 'Noto Sans', sans-serif;

    --nav-background-color: #6C584C;
    --nav-link-color: #F0EAD2;
    --nav-hover-link-color: #6C584C;
    --nav-hover-background-color: #F0EAD2;
}


/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*BASIC STYLING*/
body {
    font-family: var(--paragraph-font);
    font-size: 16px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--nav-hover-background-color);
    padding: 20px;
}

h1 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
}

h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    padding: 2rem;
}

p {
    padding: 1rem;
}


/*HERO STYLE*/
.hero {
    position: relative;
}

.background img{
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 5rem;
    text-align: center;
    padding: 1rem;
    width: 100%;
    font-size: 2em;
    background-color: rgb(0, 0, 0, 0.4);
}

.about {
    margin: 0 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-20%);
    background-color: rgb(0, 0, 0, 0.45);
}

.client {
    display: inline;
    float: right;
    padding: 1rem;
    width: 30%;
}

.client img {
    width: 100%;
    border:1px solid #6C584C;
    box-shadow: 0 0 10px 0 #6C584C;
}


.about p {
    font-size: 1.5rem;
    color: var(--accent2-color);
    padding: 1rem;
    text-align: center;
    
    
}


/* NAVITAGION STYLES */

header{
   display: grid;
   justify-content: space-evenly;
   align-items: center;
   padding: 1rem;
   background-color: var(--nav-background-color);
}

nav {
    grid-column: 2/3;
    display: flex;
    line-height: 1.5em;
    text-align: center;
    font-size: 1.2em;
    width: 100%;
    padding: 25px;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 20px;
}

nav a:link,
nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.logo {
    grid-column: 1/2;
    width: 150px;   
}

.logo img {
    max-width: 100%;
}

/* HISTORY SECTION */

.history {
    padding: 1rem;
    background-color: var(--primary-color);
    color:var(--accent1-color);
    margin: 20px auto;
}

.history h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    text-align: center;
    border-bottom: 3px #6C584C solid;
}


/* ADVENTURE SECTION */

.adventure {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px auto;
}

.galery {
    display: flex;
}

.memories {
    border: thin #ADC178 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
  }
  
.memories  img {
    max-width: 200px;
    height: 120px
  }
  
figcaption {
    background-color: var(--secondary-color);
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
  }


/* FOOTER STYLE */

footer {
    display: flex;
    align-items: center;
    padding: 1rem;
    font-size: 1.2em;
    background-color: var(--nav-background-color);
    color: #F0EAD2;
}

.sociallinks {
    display: flex;
    line-height: 1.5em;
    padding: 25px;
    justify-content: flex-end;
}

.sociallinks a {
    text-decoration: none;
    width: 70px;
}

.sociallinks a img {
    width: 100%;
}

footer p {
    padding: 1rem;
    white-space: nowrap;
}