@import url('https://fonts.googleapis.com/css2?family=Arapey&family=Macondo&display=swap');

:root {
    --primary-color: #DDE5B6;
    --secondary-color: #A98467;
    --accent1-color: #ADC178;
    --accent2-color: #6C584C;

    --heading-font: "Macondo", Verdana, Geneva, Tahoma, sans-serif;
    --paragraph-font: Arapey, sans-serif;

    --nav-background-color: #6C584C;
    --nav-link-color: #F0EAD2;
    --nav-hover-link-color: #6C584C;
    --nav-hover-background-color: #F0EAD2;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    margin: 0 auto;
    background-color: #F0EAD2;
    padding: 20px;
}

h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

header {
    padding: 20px;
    background-color: var(--secondary-color);
    font-size: 1.5em;
    text-align: center;
}

p {
    padding: 25px;
}

.author {
    text-align: right;
    color: var(--primary-color);
    font-family: var(--heading-font);
}

nav {
    display: flex;
    background-color: var(--nav-background-color);
    line-height: 1.5em;
    text-align: center;
    font-size: 1.2em;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link,
nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}