@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins&display=swap');
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}


/* Global */
body {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    margin: 0 auto;
    max-width: 1000px;
    background-color: #ffd5c2;
}

/*Class Selectors*/
.box{
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #c8553d;

}

/* Header */
nav {
    font-family: Poppins, sans-serif;
    font-size: 1.5em;
    background-color: #c8553d;
    padding: 5px;
}

nav a {
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
}

nav a:hover {
    color: #c8553d;
    background-color: white;
}

/*h1 style*/
h1 {
    font-family: Lobster, sans-serif;
    font-size: 3em;
    color: #588b8b;
    text-align: center;
    padding: 20px;
}


main {
    max-width: 1200px;
    margin: 0 auto;
}

/* Introduction */
.intro {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 0.5rem;
}

.profile {
    float: inline-end;
    width: 30%;
}

.profile img {
    width: 100%;
    height: auto;
    min-width: 150px;
    border: 1px solid #f28f3b;
    padding: 2px;
    box-shadow: 0 0 30px #c8553d;
}

main img {
    float: right;
}

.intro p {
    padding: 10px;
    font-size: 1.5em;
}

/* Temples list*/
.temples {
    background-color: #c8553d;
    margin: 1rem;
    padding: 1rem;
}
.temples a {
    display: block;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    color: white;
    padding: 5px;
    font-size: 1.5em;
}

.temples a:hover, .temples a:focus{
    color: #c8553d;
    background-color: white;
    cursor: pointer;
}
.temples ul li {
    list-style: none;
}

.temples p{
    font-family: Lobster, sans-serif;
    font-size: 2.5em;
    color: white;
    text-align: center;
    padding: 10px;
    text-shadow: #f28f3b 0 0 30px;
}

/*City description*/

aside {
    position: relative;
    }
    
    
    
aside h2 {
    position: absolute;
    top: 47px;
    left: 250px;
    font-family: Lobster, sans-serif;
    font-size: 2em;
    color: #588b8b;
}



.description p {
    font-size: 1em;
    font-style: italic; 
    padding: 15px; 
    text-align: center;
}

.illinois img {
    border: 1px solid white;
    box-shadow: 0 0 30px #588b8b;
}


/*Footer*/
footer {
    background-color: #c8553d;
    color: white;
    padding: 10px;
    text-align: center;
}